

h1{
color:black;

}


nav{
    font-size: 30px;
}


nav li{
    display: inline;
    margin: 0 0 0 27%;

}

.header {
color: black;


}





body {


    background-image: radial-gradient(circle at 119.64% 62.28%, #6bc18c 0, #5dc295 3.85%, #4ec39f 7.69%, #3cc4aa 11.54%, #26c4b4 15.38%, #00c4be 19.23%, #00c4c8 23.08%, #00c4d2 26.92%, #00c3db 30.77%, #00c2e3 34.62%, #00c0ea 38.46%, #00bef0 42.31%, #2cbcf5 46.15%, #46baf9 50%, #5cb7fb 53.85%, #70b4fd 57.69%, #82b1fc 61.54%, #93aefb 65.38%, #a3aaf8 69.23%, #b1a6f4 73.08%, #bfa3ee 76.92%, #cb9fe8 80.77%, #d69be0 84.62%, #df98d8 88.46%, #e896cf 92.31%, #ee93c5 96.15%, #f392bb 100%);   
}   
.stro {

width: 40%;
border: solid 10px  radial-gradient(circle at 119.64% 62.28%, #6bc18c 0, #5dc295 3.85%, #4ec39f 7.69%, #3cc4aa 11.54%, #26c4b4 15.38%, #00c4be 19.23%, #00c4c8 23.08%, #00c4d2 26.92%, #00c3db 30.77%, #00c2e3 34.62%, #00c0ea 38.46%, #00bef0 42.31%, #2cbcf5 46.15%, #46baf9 50%, #5cb7fb 53.85%, #70b4fd 57.69%, #82b1fc 61.54%, #93aefb 65.38%, #a3aaf8 69.23%, #b1a6f4 73.08%, #bfa3ee 76.92%, #cb9fe8 80.77%, #d69be0 84.62%, #df98d8 88.46%, #e896cf 92.31%, #ee93c5 96.15%, #f392bb 100%);   ;
margin-left: 29%;
}

header {

background-color: white;
}